body {
    background-color: bisque;
}

.flex-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drawingpad-container {
    box-sizing: border-box;
    border: 2px solid plum;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.gridrow {
    display: flex;
    flex: 1;
}

.grid {
    flex: 1;
    user-select: none;
    background-color: white;
}


.options {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.gridOptions {
    display: flex;
    margin-top: 15px;
    justify-content: flex-start;
    align-items: center;
}

input {
    width: 40px;
    height: 25px;
    margin-right: 10px;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    gap: 32px;
}

button {
    border-radius: 50px;
    padding: 5px;
    background-color: antiquewhite;
    box-shadow: 0 5px #999;
}

#update:hover {
    background-color: rgba(210, 150, 72, 0.269);
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}


li > button {
    width: 150px;
}

li > button:hover {
    width: 165px;
    height: 35px;
}

#black {
    background-color: black;
    color: white;

}

#random {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );;
}